zipunzip_src/unzip/windll/vc6/lib/Debug/
zipunzip_src/zip20/windll/visualc/lib/Debug/
*.user
winvnc/Debug/
winvnc/bin/
vncviewer/omnithread/Debug/
winvnc/.vs/
vncviewer/Debug/
vncviewer/bin/
vncviewer/.vs/
winvnc/omnithread/Debug/
rdr/Debug/
libjpeg-turbo-win/Debug/
xz/windows/Debug/
zlib/contrib/vstudio/vc15/x86/ZlibStatDebug/
libjpeg-turbo-win/Release/
libjpeg-turbo-win/x64/
rdr/Release/
*.obj
*.log
*.tlog
*.lib
*.pdb
*.exe
*.iobj
*.ipdb
*.res
*.aps
*.lastbuildstate
*.ipch
*.cache
*.sbr
vncviewer/x64/
*.sdf
zlib/.vs/
zlib/lib/Win32/
zlib/lib/x64/
winvnc/winvnc/My Inspector Results - winvnc/
winvnc/winvnc/x64/
zipunzip_src/zip20/windll/visualc/lib/Release/
winvnc/Release/
zipunzip_src/unzip/windll/vc6/lib/x64/Debug/
zipunzip_src/unzip/windll/vc6/lib/x64/Release/
rdr/x64/Debug/
rdr/x64/Release/
vncviewer/omnithread/Release/
vncviewer/omnithread/x64/Debug/
vncviewer/omnithread/x64/Release/
zlib/x64/Release/
zlib/Debug/
zipunzip_src/unzip/windll/vc6/lib/Release/
xz/windows/Release/Win32/liblzma/
winvnc/winvnc/Debug/
zipunzip_src/zip20/windll/visualc/lib/x64/Debug/
zipunzip_src/zip20/windll/visualc/lib/x64/Release/
xz/windows/Release/
winvnc/omnithread/x64/
winvnc/winvnc/Release/
zlib/x64/Debug/
zlib/Release/
winvnc/omnithread/Release/
vncviewer/Release/
repeater/.vs/
winvnc/winvnc/VTune Profiler Results/
Files/
uvnc_settings2/.vs/
uvnc_settings2/uvnc_settings/Release/
uvnc_settings2/uvnc_settings/x64/Release/uvnc_settings.exe.recipe
vncviewer/My Inspector Results - vncviewer/
winvnc/GPUCache/
vncviewer/GPUCache/
GPUCache/
winvnc/UltraVnc/.vs/
uvnc_settings2/uvnc_settings/
winvnc/x64/
*FileListAbsolute.txt
addon/ms-logon/authadm/x64/
addon/ms-logon/authSSP/x64/
addon/ms-logon/ldapauth/x64/Release/ldapauth.dll
addon/ms-logon/ldapauth/x64/
addon/ms-logon/ldapauth9x/x64/
addon/ms-logon/ldapauthNT4/x64/
addon/ms-logon/workgrpdomnt4/x64/
winvnc/createpassword/x64/
setpasswd/setpasswd/Debug/
winvnc/createpassword/Debug/
libjpeg-turbo-win/DebugLib-Static/
*.recipe
*.pch
*.idb
addon/ms-logon/logging/x64/
*.suo
zipunzip_src/unzip/windll/vc8/.vs/unzip32/v16/Browse.VC.db
libjpeg-turbo-win/.vs/libjpeg-turbo-win_VC2017/v16/Browse.VC.db
libjpeg-turbo-win/.vs/libjpeg-turbo-win_VC2017/v16/Browse.VC.db-wal
libjpeg-turbo-win/.vs/libjpeg-turbo-win_VC2017/v16/Browse.VC.db-shm
