*.aps
*.bsc
*.cache
*.exe
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.log
*.obj
*.pch
*.pdb
*.recipe
*.res
*.sbr
*.sdf
*.suo
*.tlog
*.user
*FileListAbsolute.txt

Files/

GPUCache/

.vs

addon/eventMessageLogger/Debug/
addon/eventMessageLogger/Release/
addon/eventMessageLogger/x64/

addon/ms-logon/authSSP/Debug/
addon/ms-logon/authSSP/Release/
addon/ms-logon/authSSP/x64/

addon/ms-logon/authadm/Debug/
addon/ms-logon/authadm/Release/
addon/ms-logon/authadm/x64/

addon/ms-logon/ldapauth/Debug/
addon/ms-logon/ldapauth/Release/
addon/ms-logon/ldapauth/x64/

addon/ms-logon/ldapauth9x/Debug/
addon/ms-logon/ldapauth9x/Release/
addon/ms-logon/ldapauth9x/x64/

addon/ms-logon/ldapauthNT4/Debug/
addon/ms-logon/ldapauthNT4/Release/
addon/ms-logon/ldapauthNT4/x64/

addon/ms-logon/logging/Debug/
addon/ms-logon/logging/Release/
addon/ms-logon/logging/x64/

addon/ms-logon/MSLogonACL/Debug/
addon/ms-logon/MSLogonACL/Release/
addon/ms-logon/MSLogonACL/x64/

addon/ms-logon/testauth/Debug/
addon/ms-logon/testauth/Release/
addon/ms-logon/testauth/x64/

addon/ms-logon/workgrpdomnt4/Debug/
addon/ms-logon/workgrpdomnt4/Release/
addon/ms-logon/workgrpdomnt4/x64/

omnithread/Debug/
omnithread/Release/
omnithread/x64/

rdr/Debug/
rdr/Release/
rdr/x64/

repeater/Debug
repeater/Release
repeater/x64

setpasswd/setpasswd/Debug/
setpasswd/setpasswd/Release/
setpasswd/setpasswd/x64/

udt4/src/udt.tlog/
udt4/win/x64/

UdtCloudlib/Debug
UdtCloudlib/Release
UdtCloudlib/x64/

uvnc_settings/uvnc_settings/Debug/
uvnc_settings/uvnc_settings/Release/
uvnc_settings/uvnc_settings/x64/

vncviewer/Debug/
vncviewer/GPUCache/
vncviewer/My Inspector Results - vncviewer/
vncviewer/Release/
vncviewer/RelIPv6/
vncviewer/VTune Profiler Results/
vncviewer/bin/
vncviewer/x64/

winvnc/Debug/
winvnc/GPUCache/
winvnc/IPV6/
winvnc/Release/
winvnc/SC_20/
winvnc/SC_20_DEBUG/
winvnc/bin/
winvnc/x64/

winvnc/UltraVNC/Debug/
winvnc/UltraVNC/NOacceleration/
winvnc/UltraVNC/Rel_Vista/
winvnc/UltraVNC/Rel_XP/
winvnc/UltraVNC/Release64/
winvnc/UltraVNC/Release86/
winvnc/UltraVNC/Release_Vista/
winvnc/UltraVNC/SC_20/
winvnc/UltraVNC/SC_20_DEBUG/

winvnc/createpassword/Release/
winvnc/createpassword/Debug/
winvnc/createpassword/x64/

winvnc/vnchooks/Release/
winvnc/vnchooks/Debug/
winvnc/vnchooks/x64/

winvnc/winvnc/Debug/
winvnc/winvnc/My Inspector Results - winvnc/
winvnc/winvnc/Release/
winvnc/winvnc/VTune Profiler Results/
winvnc/winvnc/x64/

zipunzip_src/unzip/windll/vc6/lib/Debug/
zipunzip_src/unzip/windll/vc6/lib/Release/
zipunzip_src/unzip/windll/vc6/lib/x64/

zipunzip_src/zip20/windll/visualc/lib/Debug/
zipunzip_src/zip20/windll/visualc/lib/Release/
zipunzip_src/zip20/windll/visualc/lib/x64/
vncviewer/vcpkg_installed/
winvnc/winvnc/vcpkg_installed/
LAuncher2.0/__astcache/
LAuncher2.0/__history/
LAuncher2.0/Win32/
UltraViewer/__astcache/
UltraViewer/__history/
UltraViewer/Win32/
