include README.md
include requirements.txt
include LICENSE
recursive-include librats_py *.py
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
