/* CSS Document */

body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

.note1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	padding: 0px 0px 10px 10px;
	margin-top: 0;
	margin-bottom: 0;
	list-style-image: none;
}

.ref_head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	background-color: #99CCFF;
	padding: 3px 3px 3px 3px;
}

.code {
	font-family:  "Courier New", Courier, monospace;
	font-size: 10px;
	line-height: 12px;
	background-color: #C0C0C0;
	padding: 5px 5px 5px 5px;
}

.func_name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
}

.table_headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #C0C0C0;
	padding: 2px 2px 2px 2px;
}
