#ifndef _MAC

#include "version.h"
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MAJOR_INT,MINOR_INT,BUILD_INT,SPECIAL_INT
 PRODUCTVERSION MAJOR_INT,MINOR_INT,BUILD_INT,SPECIAL_INT
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "MS Encryption Plugin using RC4 encryption from the Microsoft RSA provider.\r\nDeveloped by Sean E. Covel and Released under the GPL 2.0.\0"
            VALUE "CompanyName", "Sean E. Covel\0"
            VALUE "FileDescription", PLUGIN_NAME BUILD_NUMBER 
            VALUE "FileVersion", BUILD_NUMBER
            VALUE "InternalName", PLUGIN_NAME
            VALUE "LegalCopyright", "Copyright (C) 2005-2009 Sean E. Covel\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", DSM_NAME
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", PLUGIN_NAME BUILD_NUMBER 
            VALUE "ProductVersion", BUILD_NUMBER
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC
