#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

// Defines STR_COMPANYNAME, STR_FILEVERSION, STR_PRODUCTVERSION, STR_COPYRIGHT,
// STR_SPECIALBUILD, FILEVERSION, PRODUCTVERSION
#include "../../common/versioninfo.h"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION INT_FILEVERSION_MSRC4PLUGIN
 PRODUCTVERSION INT_PRODUCTVERSION_MSRC4PLUGIN
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
#if isRC == 1
#include "buildtime.h" // Defines macro BUILDTIME
            VALUE "Buildtime", BUILDTIME
#endif
            VALUE "Comments", ""
            VALUE "CompanyName", STR_COMPANYNAME
            VALUE "FileDescription", "UltraVNC MS RC4 Encryption Plugin"
            VALUE "FileVersion", STR_FILEVERSION_ADDON
            VALUE "InternalName", "MSRC4Plugin"
            VALUE "LegalCopyright", STR_COPYRIGHT
            VALUE "OriginalFilename", "MSRC4Plugin.dsm"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "UltraVNC MSRC4Plugin"
            VALUE "ProductVersion", STR_PRODUCTVERSION_MSRC4PLUGIN
#if isRC == 1
            VALUE "SpecialBuild", STR_SPECIALBUILD_MSRC4PLUGIN
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // !_MAC
